<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
   
<ul>
<h1>Latest Item swipped!!!</h1>
<%= title %>
  <% data.forEach(function(dataobj){ %>
    <li>Name: <%= dataobj.F_Name %> </li>
    <li>Serving size <%= dataobj.ServingSize %> </li>
    <li>calories <%= dataobj.Calories %> </li>
    <li>Calories From Fat <%= dataobj.Cal_From_Fat %> </li>
  <% }) %>

</ul>


  </body>
</html>



